@page "/homework/{header?}"

<PageTitle>Homework</PageTitle>

<h1>
    @(Header ?? "Homework")
</h1>
<button class="btn btn-primary" @onclick="GoToHome">Home</button>

<br />

<button class="btn btn-success" @onclick="ChangeBackground">Zmień kolor tła</button>